<% unless @picks.empty? %>
<table class="table table-condensed table-hover table-striped">
  <tr>
    <td> </td>
    <td>Score</td>
    <td>Players Subscore</td>
    <td>Players Bonus</td>
    <td>Correct Question Bonus</td>
    <td>1st Par Tiebreak</td>
    <td> </td>
    <td> </td>
  </tr>
  <% @picks.each do |p| %>
  <%= render "summary", pick: p %>
  <% end %>
</table>
<% end %>
