<div class="row">
  <% first = 1 %>
  <% pick.players.each do |p| %>
  <div class="col-md-2 <%= "col-md-offset-1" if first == 1%> pick-player-name">
    <% first = 0 %>
        <%= p.name %>
  </div>
  <% end %>
</div>
