<%= form_for @pool do |f| %>
  <%= render :partial => 'errors/form_field_error', :locals => {:f => @pool} %>

  <%= render :partial => "editable_pool", :locals => {:pool => @pool, :f => f, :tournament_options => @tournament_options} %>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary"%>
  </div>
<% end %>
