<h1>Create a new pool</h1>
<%= form_for @pool do |f| %>
  <%= render :partial => 'errors/form_field_error', :locals => {:f => @pool} %>

  <%= render :partial => "editable_pool", :locals => {:pool => @pool, :f => f} %>
  <p class="button"><%= f.submit %></p>
<% end %>
