<%= render 'pool_header'%>

<table class="table table-condensed">
	<% num = 1%>
  <% @questions.each do |q| %>
    <tr><td><%= num %></td><td><%= q.question %></td></tr>
	<% num = num + 1%>
  <% end %>
</table>

<%= render 'pool_picks'%>