<div class="page-title">My groups</div>
<hr />
<div ng-app>
  <div ng-controller="GroupCtrl">
    <%= render :partial => "layouts/error_spinner" %>
    <ul class="unstyled">
      <a href="/{{group.slug}}" ng-repeat="group in groups" class="box-link">
        <li class="box-repeater"> 
        <div class="box-title">
          {{group.name}}
        </div>
        </li>
      </a>
    </ul>
  </div>
</div>
