<div class="page-title"><%= @group.name %></div>
<% if can? :edit, @group %>
  <%= link_to "New Pool", new_group_pool_path(@group) %>
  <%= link_to "Group Administration", edit_group_path(@group) %>
<% end %>
<div ng-app="golf">
  <div ng-controller="GroupPoolsCtrl">
    <%= render :partial => "layouts/error_spinner" %>
    <ul class="unstyled">
      <a href="{{host}}/{{id}}/pools/{{pool.s_pool_id}}" ng-repeat="pool in grouppools" class="box-link">
        <li class="box-repeater">
        <span class="box-text">From {{pool.starttime}} to {{pool.endtime}}</span>
        <span class="box-title">{{pool.pname}}</span>
        </li>
      </a>
    </ul>
  </div>
</div>
