<div class="row">
  <div class="col-md-7">
    <h1 class="title">Tournaments</h1>
  </div>
</div>

<div class="row list-table-header">
     <div class="col-md-6">
       Tournament
     </div>
     <div class="col-md-6">
       Dates
     </div>
</div>
<% @tournaments.each do |t| %>
<div class="row list-table-content">
  <div class="col-md-6 list-tournament-links">
    <%= link_to t.name, t%>
  </div>
  <div class="col-md-6 list-tournament-date">
    <%= t.formatted_start %> to <%= t.formatted_end %>
  </div>
</div>  

<% end %>
