<div class="row">
  <div class="col-md-7">
    <h1 class="title">Tournaments</h1>
  </div>
  <div class="col-md-5 page-description">
    Tournaments show the raw scores of all players. The strokes taken for each hole can be seen by clicking on the players name. The colored bar shows the relative frequency of eagles and better, birdies, pars, bogeys, and double bogeys and worse.  Scores are updated every two minutes for an active tournament.
  </div>
</div>

<div class="row list-table-header">
     <div class="col-md-6">
       Tournament
     </div>
     <div class="col-md-6">
       Dates
     </div>
</div>
<% @tournaments.each do |t| %>
<div class="row list-table-content">
  <div class="col-md-6 list-tournament-links">
    <%= link_to t.name, t%>
  </div>
  <div class="col-md-6 list-tournament-date">
    <%= t.formatted_start %> to <%= t.formatted_end %>
  </div>
</div>  

<% end %>
