<h1 class="title">
The Golf Tourney
</h1>
<div class="display-text">
The Golf Tourney is a website that allows you to choose a fantasy golf squad and compete against your friends and co-workers. You must <%= link_to "sign up", signup_path %> for an account and join an existing pool (or contact <a href="mailto:andy@thegolftourney.com">Andy Guenin</a> to create a new pool) to compete.  Check out <%= link_to "how it works", works_path %>, <%= link_to "join a pool", pools_path %>, or just check out the <%= link_to "golf player leaderboard", current_tournament_path %>.
</div>