<h1 class="title">How it works</h1>
<div class="display-text">
We will set up the upcoming tournament and place the players into one of five buckets. Before the first golfer's score is published (this information can be found on the tournament page), you join a pool and submit your picks. 

<h2>Picks</h2>
A "pick" is your submitted team, which consists of 5 players, one from each bucket, your answers to the pool's questions, and your guess as to the fewest number of strokes taken in the first round as a tiebreaker. You may submit as many picks to your pool unless the pool owner explicitly states otherwise.


<h2>Scoring</h2>
Your score is taken as the sum of the lowest four out of five of your picks' golfers' scores, which is then subtracted by the number of questions that you answered correctly, which is then subtracted by the number of bonus points that you have accumulated. The person in the pool with the lowest score wins. If there is a tie, then the person with the closest first round tiebreak will determine the winner.

<h2>Bonus</h2>
The following bonus points will be awarded:
<ul>
	<li>1 point for having any of your players in the lead or tied for lead at the end of each round (limit to 1 point per round)</li>
	<li>2 points for selecting the overall winner</li>
	<li>3 points for selecting a team in which no member is cut after the second round or withdraws from the tournament</li>
</ul>


</div>