// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.group-display {
  font-size: 30px;
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}
