// Place all the styles related to the pools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$link-size: 24px;
.pool-table-content {
height: 100px;
font-size: $link-size;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;

}

.pool-table-header {
text-align: center;
}

.pool-tournament-links{
text-align: left;
}
.pool-tournament-name{
font-size: 3/4*$link-size;
padding-left: 20px;
a {
color: lighten(#428bca, 20%);
}

}

.user-is-in-pool {
font-size: 1/2*$link-size;
color: #09C700;
display: inline;
}

.pool-is-draft {
font-size: 3/4*$link_size;
color: #A20505;
display: inline;
}